{% extends 'profile/index.html.twig' %}

{% block profile_content %}
    <div class="w-full my-8">
    {% for message in app.flashes('error') %}
              <div class="p-4 w-full bg-blue-700 text-green-600">
                  {{ message }}
              </div>
      {% endfor %}
        <div
            class="w-full flex flex-col items-center justify-between lg:w-1/2 bg-firstColor mt-4 p-4"
          >
            {# <!--Order ITEMS--> #}
            <div class="w-full flex flex-col gap-4">
            {% if orders != null %}
                {% for item in orders %}
                
                <div class="flex items-center justify-between">
                    {# <!--LEFT--> #}
                    <div class="flex items-center gap-2">
                        <div class="flex flex-col">
                            <span class="text-xs font-semibold">Commande Ref: #{{ item.id }}</span>
                            <span class="text-[#8080808e]">Quantite : {{ item.quantity }}</span>
                            <span class="text-[#8080808e]">Montant : {{ (item.amount /100 ) | format_currency('XAF') }}</span>
                            <span class="text-[#8080808e]">Commande effectue le : {{ item.createdAt.format('d/m/Y') }}</span>
                        </div>
                    </div>
                    {# <!--RIGHT--> #}
                    <a href="{{ path('app_profile_order_show', {'id': item.id}) }}" class="text-xs font-semibold p-3 bg-black text-white">Voir detail</a>
                </div>
                {% endfor %}
            {% else %}
                <div class="w-1/2 flex flex-col gap-4 my-8">
                    <span>Vous n'avez pas effectue de commandes</span>
                    <a href="/boutique" class="p-4 bg-black text-white">Ajouter des articles👖</a>
                </div>
            {% endif %}
                
            </div>
          </div>
    </div>
{% endblock %}
