{% extends 'base.html.twig' %}

{% block title %}Se connecter!{% endblock %}

{% block body %}

    <div class="w-full my-8 flex items-center justify-center">
      <div class="w-[25%] max-md:w-[90%]">
        <h3 class="text-center font-bold text-xl my-5">
          Connectez vous a votre compte
        </h3>
        {% for message in app.flashes('verify_email_error') %}
            <div class="p-4 w-full bg-red-500 text-white">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="p-4 w-full bg-green-500 text-white">
                {{ message }}
            </div>
        {% endfor %}
        
        {% if error %}
            <div class="p-3 bg-red-300">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form method="post" class="w-full flex flex-col items-center justify-center gap-8">
          <input
            type="email"
            value="{{ last_username }}"
            name="_username"
            autocomplete="email" 
            required autofocus
            placeholder="Votre email"
            class="w-full outline-none p-3 border rounded-md"
          />
          <input
            type="password"
            name="_password"
            autocomplete="current-password" required
            placeholder="Votre mot de passe"
            class="w-full outline-none p-3 border rounded-md"
          />
          <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >
          <button type="submit" class="bg-black text-white p-3">
            Se Connecter
          </button>
        </form>
        <div class="flex items-center justify-between my-5">
          <a href="{{ path('app_forgot_password_request') }}">Mot de passe Oublie ?</a>
          <a href="{{ path('app_register') }}">Creer un nouveau compte</a>
        </div>
      </div>
    </div>

{% endblock %}
