{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block pages_hero_section %}
    {% include 'partials/pages-hero-section.html.twig' %}
{% endblock %}

{% block body %}
    {# Register Form #}
    <div class="w-full my-8 flex items-center justify-center">
      <div class="w-[25%] max-md:w-[90%]">
        {% for message in app.flashes('verify_email_error') %}
            <div class="p-4 w-full bg-red-300 text-white">
                {{ message }}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
              <div class="p-4 w-full text-white bg-red-300">
                  {{ message }}
              </div>
        {% endfor %}

        {% for message in app.flashes('success') %}
            <div class="p-4 w-full bg-green-300 text-white">
                {{ message }}
            </div>
        {% endfor %}

        <h3 class="text-center font-bold text-xl my-5">Creer votre compte</h3>
        
        <div class="w-full flex flex-col items-center justify-center gap-8">
            {{ form(registerForm) }}
        </div>

        <div class="mt-12 mb-8 grid space-y-4">
            <button class="group relative flex h-11 items-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-white dark:before:bg-gray-700 dark:before:border-gray-600 before:border before:border-gray-200 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 disabled:before:bg-gray-300 disabled:before:scale-100">
              <span class="w-full relative flex justify-center items-center gap-3 text-base font-medium text-gray-600 dark:text-gray-200">
                <img src="{{ asset('images/google-icon.svg') }}" class="absolute left-0 w-5 h-5" alt="google logo" />
                <span>S'inscrire avec google</span>
              </span>
            </button>
        </div>

        <div class="flex items-center justify-between my-5">
          Vous avez deja un compte ?
          <a href="{{ path('app_login') }}">Connectez vous.</a>
        </div>
      </div>
    </div>
{% endblock %}