{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block hero_section %}
    {% include 'partials/hero-section.html.twig' %}
{% endblock %}

{% block body %}
    <!--
      PRODUCT GRID
    -->
    <div class="mb-8 p-7">
      <h2 class="text-2xl font-semibold mb-6">Produits</h2>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
        {% if (products == null)  %}
          <p>Liste de produit vide</p>
        {% else %}
          {% for item in products %}
          {% set real_price = item.price / 100 %}
          {% set price_discount = (item.price / 100) - ((item.price / 100) * item.discount) %}
            <div class="border rounded-lg overflow-hidden">
                <!--SHOWCASE BANNER-->
                <div class="relative showcase">
                  <a href="{{ path('app_product_detail', {'id': item.id}) }}">
                    <img
                      src="{{ asset('/images/products/') }}{{ item.getImages()[0].imageName }}"
                      alt="Mens Winter Leathers Jackets"
                      width="300"
                      class="w-full h-full object-cover relative z-1 transform transition-transform duration-300 ease-in-out default"
                    />
                  </a>
                  <a href="{{ path('app_product_detail', {'id': item.id}) }}">
                    <img
                      src="{{ asset('/images/products/') }}{{ item.getImages()[1].imageName }}"
                      alt="Mens Winter Leathers Jackets"
                      class="w-full h-full object-cover absolute top-0 left-0 z-2 opacity-0 hover:opacity-1 transform transition-transform duration-300 ease-in-out hover"
                    />
                  </a>
                  {% if (item.discount != 0 and item.discount != null) %}
                    <p
                      class="absolute top-2 left-2 bg-red-500 text-white px-2 py-1 text-xs font-bold rounded"
                    >
                      -{{ item.discount * 100 }} %
                    </p>
                  {% endif %}
                  <div
                    class="absolute bottom-2 left-1/2 transform -translate-x-1/2 flex space-x-2"
                  >
                    <button class="btn-action bg-white rounded-full p-2">
                      <ion-icon name="eye-outline"></ion-icon>
                    </button>

                    <button class="btn-action bg-white rounded-full p-2">
                      <ion-icon name="bag-add-outline"></ion-icon>
                    </button>
                  </div>
                </div>

                <div class="p-4">
                  <span class="block text-gray-500 text-sm mb-2">Costume</span>

                  <a href="{{ path('app_product_detail', {'id': item.id}) }}">
                    <h3 class="text-lg font-semibold">{{ item.name }}</h3>
                  </a>

                  <div class="mt-2">
                    {% if (item.discount != 0 and item.discount != null) %}
                      <span class="text-lg font-bold">{{ price_discount | format_currency('XOF') }}</span>
                      <del class="text-gray-500 ml-2">{{ real_price | format_currency('XOF') }} FCFA</del>
                    {% else %}
                      <span class="text-lg font-bold">{{ real_price | format_currency('XOF') }} FCFA</span>
                    {% endif %}
                  </div>
                </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="flex items-center justify-center my-8 w-full h-[200px]">
          <a href="{{ path('app_shop') }}" class="w-max bg-black text-white px-8 py-2 my-4">En savoir plus</a>
      </div>
    </div>
{% endblock %}

{% block javascripts_bottom %}
    <script src="{{ asset('/scripts/home-page.js') }}"></script>
{% endblock %}
