<!--
    -FOOTER PART
-->
<footer class="bg-firstColor py-8">
    <div class="mx-auto px-4">
        <div class="flex flex-wrap justify-between">
            <div class="w-full flex flex-col md:items-center gap-5 md:w-1/3 mb-6 md:mb-0">
                <h3 class="text-xl font-semibold mb-4">Contactez-nous</h3>
                <p class="">{{ informations.address }}</p>
                <p class="">Email: {{ informations.email }}</p>
                <p class="">Telephone: {{ informations.phone }}</p>
            </div>
            <div class="w-full flex flex-col md:items-center gap-5 md:w-1/3 mb-6 md:mb-0">
                <h3 class="text-xl font-semibold mb-4">Liens rapides</h3>
                <ul>
                    <li class="mb-2">
                    <a href="/" class="hover:text-slate-500">Accueil</a>
                    </li>
                    <li class="mb-2">
                    <a href="{{ path('app_shop') }}" class="hover:text-slate-500">Boutique</a>
                    </li>
                    <li class="mb-2">
                    <a href="{{ path('app_about') }}" class="hover:text-slate-500">A propos</a>
                    </li>
                    <li>
                    <a href="{{ path('app_contact') }}" class="hover:text-slate-500">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="w-full flex flex-col md:items-center gap-5 md:w-1/3">
                <h3 class="text-xl font-semibold mb-4">Suivez-nous</h3>
                <div class="flex flex-col gap-4">
                    {% if socialMedia %}
                        {% for item in socialMedia %}
                            <a href="{{ item.link }}" class="hover:text-slate-500 flex items-center gap-3">
                                <i class="{{ item.iconName }}"></i>
                                <span>{{ item.name }}</span>
                            </a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="mt-8 text-center">
            <p class="text-spanish-gray">
            &copy; 2024 {{ informations.siteName }}. Tout Droit Reserve.
            </p>
        </div>
    </div>
</footer>
