<!--HERO SECTION-->
    <div class="w-full h-[calc(100vh-100px)] overflow-hidden top-10 -z-40">
      <div
        id="carousel"
        class="h-full w-max flex transition-all ease-in-out duration-100 carousel -z-10"
      >
        {% if (header_promos != null) %}
          {% for item in header_promos %}
            <div
            class="w-screen h-full flex items-center justify-around py-8 relative -z-10"
          >
            <img src="{{ asset('/images/upload/') }}{{ item.leftImage }}" alt="" class="absolute left-0 -z-10 h-full" />
            <div
              class="flex flex-col items-center justify-center bg-[#00000046] text-white p-4 -z-10"
            >
              <h3 class="font-semibold text-lg">
                {{ item.title }}
              </h3>
              <p>{{ item.description }}</p>
              <a href="{{ item.link }}"
                class="px-24 py-3 my-5 text-black bg-white hover:bg-black hover:text-white"
              >
                Voir
              </a>
            </div>
            <img
              src="{{ asset('/images/upload/') }}{{ item.rightImage }}"
              alt=""
              class="absolute right-0 -z-20 h-full max-md:hidden max-lg:-right-24"
            />
          </div>
          {% endfor %}
        {% endif %}
      </div>
      <div class="flex items-center gap-5 absolute bottom-10 right-10">
        <button
          id="prev-button"
          class="h-8 w-8 flex items-center justify-center bg-firstColor border rounded-full"
        >
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </button>
        <button
          id="next-button"
          class="h-8 w-8 flex items-center justify-center bg-firstColor border rounded-full"
        >
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </button>
      </div>
    </div>