{% extends 'base.html.twig' %}

{% block title %}Details{% endblock %}

{% block pages_hero_section %}
    {% include 'partials/pages-hero-section.html.twig' %}
{% endblock %}

{% block body %}
      {# <!--
      -SINGLE PRODUCT
    --> #}
    <div class="w-full p-4">
      <ul class="my-4 flex items-center gap-2">
        <li><a href="/">Accueil</a></li>
        <li>/</li>
        <li>Details {{ product.name }}</li>
      </ul>
      <hr />
      <div class="w-full">
        <div class="w-full px-3">
          <div class="flex max-md:flex-col gap-4 justify-between">
            <div
              class="w-[50%] max-sm:w-full max-sm:p-3 max-md:w-full flex max-sm:flex-col-reverse items-center gap-4 p-5"
            >
              <div
                class="w-[25%] flex flex-col max-sm:flex-row max-sm:gap-2 max-sm:w-full gap-3 items-center justify-center mt-8 hover-container"
              >
                {% for item in product.getImages() %}
                  <div
                    class="flex items-center justify-center hover:border-[#ff91a3]"
                  >
                    <img src="{{  asset('/images/products/') }}{{ item.imageName }}" class="w-[60px] cursor-pointer" />
                  </div>
                {% endfor %}
              </div>

              <div class="w-[75%] max-sm:w-full h-[80vh] img-container">
                <img
                  src="{{  asset('/images/products/') }}{{ product.getImages()[0].imageName }}"
                  alt="watch"
                  class="w-full h-full mx-auto"
                />
              </div>
            </div>
            <div class="w-[50%] max-md:w-full p-5 flex flex-col gap-5">
              <span class="font-bold">{{ product.name }}</span>
              <hr />
              <span class="fonct-semibold text-lg">Prix : {{ (product.price / 100) |format_currency('XAF') }}</span>

              <p class="product-description">
                {{ product.shortDescription|raw }} 
              </p>
              <hr />
              <div class="pt-16 flex flex-col gap-10">
                <div class="w-full flex max-sm:flex-col items-center gap-4">
                  <div class="w-[20%] max-sm:w-full flex items-center gap-3">
                    <button type="button" class="p-3 border rounded-md">
                      <ion-icon name="remove"></ion-icon>
                    </button>
                    <span>4</span>
                    <button type="button" class="p-3 border rounded-md">
                      <ion-icon name="add"></ion-icon>
                    </button>
                  </div>
                  <a
                    href="{{ path('app_cart') }}"
                    type="button"
                    class="max-sm:w-full w-[80%] p-3 border rounded-md flex items-center gap-3 bg-black text-white"
                  >
                    <i class="fas fa-shopping-cart"></i
                    ><span>Ajouter au panier</span>
                  </a>
                </div>
                <a
                  href="{{ path('app_checkout') }}"
                  type="button"
                  class="p-3 border rounded-md flex items-center gap-3 hover:bg-black hover:text-white"
                >
                  <i class="fas fa-wallet"></i><span>Acheter Maintenant</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr class="my-5" />

      <section class="product_bottom my-4">
        <div class="product_tab_container">
          <div class="tabs-container">
            <div class="tabs">
              <button class="tab active" onclick="openTab(event, 'tab1')">
                Descripion
              </button>
              <button class="tab" onclick="openTab(event, 'tab2')">
                Informations Addintionnelles
              </button>
            </div>
            <div class="tab-content desc" id="tab1">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Deserunt, non voluptate maxime illo reiciendis laborum sunt
                corrupti et impedit provident voluptatum pariatur dignissimos,
                consequatur excepturi qui quasi dolorem minima reprehenderit!
                Consequatur excepturi enim quaerat. Impedit fugiat quis nobis
                eius rem inventore, culpa corrupti reprehenderit corporis
                debitis sed quidem aspernatur. Odio, dolores libero at provident
                totam consectetur dolor magni minus obcaecati! Praesentium ipsa
                quae ullam suscipit, cumque doloribus laudantium ut tenetur non
                quos iste velit dolore nemo inventore, iure hic quam repellendus
                repudiandae ducimus minima? Dolore incidunt consequuntur aut qui
                at.
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Deserunt, non voluptate maxime illo reiciendis laborum sunt
                corrupti et impedit provident voluptatum pariatur dignissimos,
                consequatur excepturi qui quasi dolorem minima reprehenderit!
                Consequatur excepturi enim quaerat. Impedit fugiat quis nobis
                eius rem inventore, culpa corrupti reprehenderit corporis
                debitis sed quidem aspernatur. Odio, dolores libero at provident
                totam consectetur dolor magni minus obcaecati! Praesentium ipsa
                quae ullam suscipit, cumque doloribus laudantium ut tenetur non
                quos iste velit dolore nemo inventore, iure hic quam repellendus
                repudiandae ducimus minima? Dolore incidunt consequuntur aut qui
                at.
              </p>
            </div>
            <div class="tab-content" id="tab2" style="display: none">
              <div class="product-single__addtional-info">
                <div class="item">
                  <label class="addtional-info-label">Taille</label>
                  <span>XS, S, M, L, XL</span>
                </div>
                <div class="item">
                  <label class="addtional-info-label">Couleur</label>
                  <span>Noire, Orange, Blanc</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
{% endblock %}
