{% extends 'base.html.twig' %}

{% block title %}Recherches{% endblock %}

{% block pages_hero_section %}
    {% include 'partials/pages-hero-section.html.twig' %}
{% endblock %}

{% block body %}
    {# <!--PRODCUT GRID--> #}
    <div class="w-full p-4">
      <ul class="flex items-center gap-2">
        <li><a href="/">Accueil</a></li>
        <li>/</li>
        <li>Recherche</li>
      </ul>
      <hr />
      <div class="w-full flex max-md:flex-col gap-3 mb-5 mt-16">
        <div
          class="w-[15%] max-md:w-full border border-grey-500 rounded-md p-3 max-h-[300px]"
        >
          <h4 class="font-semibold text-sm my-4">Filter les produits par :</h4>
          <div class="flex flex-col gap-3">
            <label for="rangeInput" class="text-xs"
              >Selectionnner un prix</label
            >
            <div class="flex flex-col">
              <input
                type="range"
                id="rangeInput"
                min="1000"
                max="100000"
                step="1000"
                value="1000"
                oninput="updateValue(this.value)"
                class="w-full"
              />
              <div class="flex justify-between text-sm text-gray-600 mt-2">
                <span id="minValue">1000</span>
                <span id="maxValue">100000</span>
              </div>
            </div>
            <span id="rangeValue" class="text-lg font-semibold">1000</span>
          </div>
        </div>
        <div class="w-[85%] max-md:w-full">
          {# <!--
            PRODUCT GRID
            --> #}
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
            {% if (products == null)  %}
              <p>Pas de resultat pour votre recherche!</p>
            {% else %}
              {% for item in products %}
              {% set real_price = item.price / 100 %}
              {% set price_discount = (item.price / 100) - ((item.price / 100) * item.discount) %}
                <div class="border rounded-lg overflow-hidden">
                    <!--SHOWCASE BANNER-->
                    <div class="relative showcase">
                      <img
                        src="{{ asset('/images/products/') }}{{ item.getImages()[0].imageName }}"
                        alt="Mens Winter Leathers Jackets"
                        width="300"
                        class="w-full h-full object-cover relative z-1 transform transition-transform duration-300 ease-in-out default"
                      />
                      <img
                        src="{{ asset('/images/products/') }}{{ item.getImages()[1].imageName }}"
                        alt="Mens Winter Leathers Jackets"
                        class="w-full h-full object-cover absolute top-0 left-0 z-2 opacity-0 hover:opacity-1 transform transition-transform duration-300 ease-in-out hover"
                      />
                      {% if (item.discount != 0 and item.discount != null) %}
                        <p
                          class="absolute top-2 left-2 bg-red-500 text-white px-2 py-1 text-xs font-bold rounded"
                        >
                          -{{ item.discount * 100 }} %
                        </p>
                      {% endif %}
                      <div
                        class="absolute bottom-2 left-1/2 transform -translate-x-1/2 flex space-x-2"
                      >
                        <button class="btn-action bg-white rounded-full p-2">
                          <ion-icon name="eye-outline"></ion-icon>
                        </button>

                        <button class="btn-action bg-white rounded-full p-2">
                          <ion-icon name="bag-add-outline"></ion-icon>
                        </button>
                      </div>
                    </div>

                    <div class="p-4">
                      <a href="#" class="block text-gray-500 text-sm mb-2">Costume</a>

                      <a href="{{ path('app_product_detail', {'id': item.id}) }}">
                        <h3 class="text-lg font-semibold">{{ item.name }}</h3>
                      </a>

                      <div class="mt-2">
                        {% if (item.discount != 0 and item.discount != null) %}
                          <span class="text-lg font-bold">{{ price_discount | format_currency('XOF') }}</span>
                          <del class="text-gray-500 ml-2">{{ real_price | format_currency('XOF') }} FCFA</del>
                        {% else %}
                          <span class="text-lg font-bold">{{ real_price | format_currency('XOF') }} FCFA</span>
                        {% endif %}
                      </div>
                    </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
{% endblock %}
